body{
	margin:0;
	padding:0;
	text-align:center;
	background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('../images/8.jpg');
    background-size:cover;
	background-position: center;
	font-family: sans-serif;
}
.About-title{
	margin-bottom:100px;
	color:#fff;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}
.About-title h1{
         font-size: 32px;
         line-height: 10px;

}

.About-title h2{
	font-size: 16px;
	background-size:cover;
	background-position: center;
	font-family: sans-serif;
}
.aboutbody{
	margin-top: 50px;
	transition:all 4s ease-in-out;
}
.structure{
	width: 600px;
	background: transparent;
	border:none;
	outline: none;
	border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;


}
.structure h2{
	font-size: 30px;
	color:  #f44336
}